.btn-zclip {
	padding: 7px 14px;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    background: #6A0088;
    border: 1px solid #3d0047;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}